<div class="template" id="jobsList">
	<table class="ui center aligned striped unstackable table">
		<thead>
			<th>ID</th>
			<th>Name</th>
			<th>Gender</th>
			<th>Age</th>
			<th>Education</th>
			<th>Expected Salary</th>
			<th>Phone</th>
			<th>Email</th>
			<th>Specialty</th>
		</thead>
		<tbody>
			<tr data-rid="{{ jobsk.id }}" ng-repeat="jobsk in jobseekers">
				<td>{{ jobsk.id }}</td>
				<td ng-init="jobsk.account = toHTML(jobsk.account)" ng-bind-html="jobsk.account">{{ jobsk.account }}</td>
				<td>{{ jobsk.gender }}</td>
				<td>{{ jobsk.age }}</td>
				<td>{{ jobsk.education }}</td>
				<td>{{ jobsk.expected_salary }}</td>
				<td>{{ jobsk.phone }}</td>
				<td>{{ jobsk.email }}</td>
				<td>
					<div class="ui teal label" ng-repeat="specialty_id in jobsk.specialty">{{ specialty(specialty_id) }}</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
