<div class="template" id="jobsList">
	<table class="ui center aligned striped table">
		<thead>
			<tr>
				<th>Job ID</th>
				<th>Occupation</th>
				<th>Location</th>
				<th>Working Time</th>
				<th>Education Required</th>
				<th>Minimal Experience</th>
				<th>Salary</th>
				<th>Operation </th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in jobs">
				<td>{{ item.id }}</td>
				<td>{{ name(item) }}</td>
				<td><a href="{{ href(item) }}"> {{ name(item) }} </a></td>
			</tr>
		</tbody>
		<tfoot class="controls">
			<tr class="ui form" id="new-job-form" ng-show="newJob">
				<th> </th>
				<th class="field">
					<div class="ui compact selection dropdown">
						<input name="occupation" type="hidden">
						<div class="default text">Occupation</div>
						<i class="dropdown icon"></i>
						<div class="menu" ng-click="formData.occupation=viewer.getDropdownValue($event)">
							<div class="item" ng-repeat="item in options.occupation" data-value="{{item.id}}">{{item.occupation}}</div>
						</div>
					</div>
				</th>
				<th class="field">
					<div class="ui compact selection dropdown">
						<input name="location" type="hidden">
						<div class="default text">Location</div>
						<i class="dropdown icon"></i>
						<div class="menu" ng-click="formData.location=viewer.getDropdownValue($event)">
							<div class="item" ng-repeat="item in options.location" data-value="{{item.id}}">{{item.location}}</div>
						</div>
					</div>
				</th>
				<th class="field">
					<div class="ui compact selection dropdown">
						<input name="working_time" type="hidden">
						<div class="default text">Working Time</div>
						<i class="dropdown icon"></i>
						<div class="menu" ng-click="formData.working_time=viewer.getDropdownValue($event)">
							<div class="item" ng-repeat="item in options.working_time" data-value="{{item}}">{{item}}</div>
						</div>
					</div>
				</th>
				<th class="field">
					<div class="ui compact selection dropdown">
						<input name="education" type="hidden">
						<div class="default text">Education</div>
						<i class="dropdown icon"></i>
						<div class="menu" ng-click="formData.education=viewer.getDropdownValue($event)">
							<div class="item" ng-repeat="item in options.education" data-value="{{item}}">{{item}}</div>
						</div>
					</div>
				</th>
				<th class="field">
					<div class="ui input">
						<input ng-model="formData.experience" name="experience" type="number" value="0" tabindex="6" />
						 year(s)
					</div>
				</th>
				<th class="field">
					<div class="ui input">
						$
						<input ng-model="formData.salary" name="salary" type="number" min="0" step="1000" value="0" tabindex="7" />
					</div>
				</th>
				<th>
					<div class="ui animated fade primary submit button">
						<div class="hidden content"> New </div>
						<div class="visible content"><i class="add icon"></i></div>
					</div>
				</th>
			</tr>
			<tr class="buttons">
				<th colspan="8">
					<div class="ui primary labeled icon button" ng-init="newJob = false" ng-show="status.isLogin && status.user.type=='employer'" ng-click="newJob = !newJob">
						<i class="add icon"></i> New Job
					</div>
				</th>
			</tr>
		</tfoot>
	</table>
</div>
