<div class="template" id="login">
	<div class="ui large segment"> Login </div>
	<form class="ui form" id="login-form">
		<div class="ui error message"></div>
		<div class="field">
			<label>Uesrname</label>
			<div class="ui left icon input">
				<i class="user icon"></i>
				<input ng-model="formData.username" name="username" type="text" placeholder="Username" autocomplete="off" tabindex="1">
			</div>
		</div>
		<div class="field">
			<label>Password</label>
			<div class="ui left icon input">
				<i class="lock icon"></i>
				<input ng-model="formData.password" name="password" type="password" placeholder="Password" tabindex="2">
			</div>
		</div>
		<div id="button_div">
			<div class="ui blue submit button" tabindex="3">
				Login
			</div>
		</div>
	</form>
</div>

