<div class="template" id="register-employer">
	<form class="ui form segment" id="register-employer-form">
		<div class="ui error message"></div>
		<div class="three fields">
			<div class="field">
				<label>Username</label>
				<div class="ui corner labeled input">
					<input ng-model="formData.username" name="username" placeholder="username" type="text" tabindex="1">
					<div class="ui corner label"> <i class="asterisk icon"></i> </div>
				</div>
			</div>
			<div class="field">
				<label>Password</label>
				<div class="ui corner labeled input">
					<input ng-model="formData.password" name="password" placeholder="password" type="password" tabindex="2">
					<div class="ui corner label"> <i class="asterisk icon"></i> </div>
				</div>
			</div>
			<div class="field">
				<label>Confirm Password</label>
				<div class="ui corner labeled input">
					<input name="confirm" placeholder="Type your password again" type="password" tabindex="2">
					<div class="ui corner label"> <i class="asterisk icon"></i> </div>
				</div>
			</div>
		</div>
		<div class="two fields">
			<div class="field">
				<label>Phone</label>
				<div class="ui corner labeled input">
					<input ng-model="formData.phone" name="phone" placeholder="ex: 0987-654-321" type="text" tabindex="3">
					<div class="ui corner label"> <i class="asterisk icon"></i> </div>
				</div>
			</div>
			<div class="field">
				<label>Email Address</label>
				<div class="ui corner labeled input">
					<input ng-model="formData.email" name="email" placeholder="xxx@example.com" type="email" tabindex="4">
					<div class="ui corner label"> <i class="asterisk icon"></i> </div>
				</div>
			</div>
		</div>
		<div id="button_div">
			<div class="ui button" ng-click="viewer.process(formData)" tabindex="5">
				<i class="checkmark sign icon"></i>
				送出
			</div>
			<div class="ui clear button" tabindex="6">
				<i class="trash icon"></i>
				清除
			</div>
		</div>
	</form>
</div>
