<div class="template" id="login" layout="row" layout-padding layout-align="center center">
	<md-content class="md-whiteframe-z2" flex layout-padding>
		<md-subheader class="md-primary">Login</md-subheader>
		<form id="login-form" name="loginForm" ng-submit="viewer.submit()">
			<md-input-container flex>
				<label>Username</label>
				<input ng-model="formData.username" required name="username" type="text" placeholder="Username" autocomplete="off" tabindex="1">
				<div ng-messages="loginForm.username.$error">
					<div ng-message="required">This is required.</div>
				</div>
			</md-input-container>
			<md-input-container>
				<label>Password</label>
				<input ng-model="formData.password" required name="password" type="password" placeholder="Password" tabindex="2">
				<div ng-messages="loginForm.password.$error">
					<div ng-message="required">This is required.</div>
				</div>
			</md-input-container>
			<div layout="row" layout-align="center center">
				<md-button class="md-primary md-hue-2" tabindex="3">
					Login
				</md-button>
			</div>
		</form>
	</md-content>
</div>

