@default-width: 1000px;
body {
	position: relative;
}
#nav-bar {
	#page-title {

	}
}

#main {
	width: @default-width;
	margin: 50px auto;
}

.template {
	padding: 10px;
	&#login {
		width: 400px;
		margin: auto;
		#response {
			display: none;
		}
		#button_div {
			width: 100%;
			text-align: center;
		}
	}
}
