<!DOCTYPE html>
<html ng-app="database.homework.app" ng-controller="pageCtrl">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
		<title ng-bind-template="{{ config.title }} | {{ currentPage.name }}">Database Homework: Index</title>
		<script src="lib/angular.min.js"></script>
		<script src="lib/angular-route.min.js"></script>
		<script src="lib/angular-animate.min.js"></script>
		<script src="lib/angular-aria.min.js"></script>
		<script src="lib/angular-material.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.5.0/angular-material-icons.min.js"></script>
		<script src="js/md-app.js"></script>
		<script src="js/md-controller.js"></script>
		<script src="js/md-view.js"></script>
		<!--[if lt IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link rel="stylesheet" type="text/css" href="lib/normalize.css">
		<link rel="stylesheet" type="text/css" href="lib/angular-material.min.css">
		<link rel="stylesheet" type="text/css" href="css/md-style.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	</head>
	<body layout="row" flex>
		<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
			<md-toolbar class="md-theme-indigo">
				<span flex></span>
				<div layout="column" class="md-toolbar-tools-bottom inset">
					<user-avatar></user-avatar>
					<span class="user-name">{{ status.user.name }}</span>
					<span class="user-email">{{ status.user.email }}</span>
				</div>
			</md-toolbar>
			<md-content>
				<md-list>
					<md-list-item ng-repeat="item in navigates" ng-click="gotoPath(item.href, 'left')">
						<a href="#" class="md-button md-default-theme" md-ink-ripple>
							<ng-md-icon icon="{{ item.icon }}"></ng-md-icon>
							<span>{{ item.name }}</span>
						</a>
					</md-list-item>
					<!--
					<md-item ng-repeat-start="item in navigates" ng-if="!item.href && !item.menu" ng-bind-html="item.name">
						<i class="ui {{ item.icon }} icon" ng-if="item.icon"></i>
						{{ item.name }}
					</md-item>
					<md-item ng-if="!!item.href">
						<a href="{{ item.href }}">
							<i class="ui {{ item.icon }} icon" ng-if="item.icon"></i>
							{{ item.name }}
						</a>
					</md-item>
					<md-item ng-repeat-end ng-if="!!item.menu">
						<i class="ui {{ item.icon }} icon" ng-if="item.icon"></i>
						{{ item.name }}
						<div class="menu">
							<a class="item" href="{{ subitem.href }}" ng-repeat="subitem in item.menu" on-finish-render="initDropdown">
								{{ subitem.name }}
							</a>
						</div>
					</md-item>
					-->
				</md-list>
			</md-content>
		</md-sidenav>
		<div layout="column" class="relative" layout-fill role="main">
			<md-toolbar>
				<div class="md-toolbar-tools md-default-theme">
					<md-button class="md-icon-button" aria-label="Settings" ng-click="toggleSidenav('left')">
						<ng-md-icon icon="menu"></ng-md-icon>
					</md-button>
					<h2>
						<span ng-click="gotoPath('#!/', 'left')">{{ config.title }} | {{ currentPage.name }}</span>
					</h2>
					<span flex=""></span>
					<md-button class="md-icon-button" aria-label="More">
						<ng-md-icon icon="more_vert"></ng-md-icon>
					</md-button>
				</div>
			</md-toolbar>
			<md-content class="container">
				<div ng-show="loading">Loading...</div>
				<div ng-view></div>
				<footer>
					<p></p>
				</footer>
			</md-content>
		</div>
		<!--
		<nav class="ui fixed blue large menu" id="nav-bar">
			<a class="header item" href="./#!/">{{ config.title }} | {{ currentPage.name }}</a>
			<div class="right menu">
				<span class="item" ng-repeat-start="item in navigates" ng-if="!item.href && !item.menu" ng-bind-html="item.name">
					<i class="ui {{ item.icon }} icon" ng-if="item.icon"></i>
					{{ item.name }}
				</span>
				<a class="item" href="{{ item.href }}" ng-if="!!item.href">
					<i class="ui {{ item.icon }} icon" ng-if="item.icon"></i>
					{{ item.name }}
				</a>
				<div class="ui dropdown item" ng-repeat-end ng-if="!!item.menu">
					<i class="ui {{ item.icon }} icon" ng-if="item.icon"></i>
					{{ item.name }}
					<div class="menu">
						<a class="item" href="{{ subitem.href }}" ng-repeat="subitem in item.menu" on-finish-render="initDropdown">
							{{ subitem.name }}
						</a>
					</div>
				</div>
			</div>
		</nav>
		-->
	</body>
</html>


