<!DOCTYPE html>
<html ng-app="database.homework.app" ng-controller="pageCtrl">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
		<title ng-bind-template="{{ config.title }} | {{ currentPage.name }}">Database Homework: Index</title>
		<script src="lib/angular.min.js"></script>
		<script src="lib/angular-route.min.js"></script>
		<script src="lib/jquery.min.js"></script>
		<script src="lib/semantic.min.js"></script>
		<script src="js/app.js"></script>
		<script src="js/controller.js"></script>
		<script src="js/view.js"></script>
		<!--[if lt IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link rel="stylesheet" type="text/css" href="lib/normalize.css">
		<link rel="stylesheet" type="text/css" href="lib/semantic.min.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	<body>
		<nav class="ui fixed blue large menu" id="nav-bar">
			<a class="header item" href="./#!/">{{ config.title }} | {{ currentPage.name }}</a>
			<div class="right menu">
				<span class="item" ng-repeat-start="item in navigates" ng-if="!item.href && !item.menu">
					<i class="ui {{ item.icon }} icon" ng-if="item.icon"></i>
					{{ item.name }}
				</span>
				<a class="item" href="{{ item.href }}" ng-if="!!item.href">
					<i class="ui {{ item.icon }} icon" ng-if="item.icon"></i>
					{{ item.name }}
				</a>
				<div class="ui dropdown item" ng-repeat-end ng-if="!!item.menu">
					<i class="ui {{ item.icon }} icon" ng-if="item.icon"></i>
					{{ item.name }}
					<div class="menu">
						<a class="item" href="{{ subitem.href }}" ng-repeat="subitem in item.menu" on-finish-render="ngRepeatFinished">
							{{ subitem.name }}
						</a>
					</div>
				</div>
			</div>
		</nav>
		<div class="container">
			<div ng-show="loading">Loading...</div>
			<div ng-view></div>
			<footer>
				<p></p>
			</footer>
		</div>
	</body>
</html>


